@font-face{
	font-family: "miFuente2";
	src: url(../../../fuentes/Stella\ Demo.ttf);
}

form{
    padding: 20px;
    margin: auto;
    width: 90%;
    background:rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    color: white;
}
.error{
    color: white;
    background: rgba(255, 99, 71, 0.4);
    width: 80%;
    margin: auto;
}
body{
    background: url(../../../img/login.jpg);
    background-size: 100% 100%;
}
#tituloPrincipal{
	font-family: "miFuente2";
	font-size: 80px;
}
.reg{
    font-size:50px; 
    color:#7c3737;
}
