@font-face{
	font-family: "miFuente";
	src: url(../../../fuentes/Chicken\ Quiche.ttf);
}

#titulo{
    font-family: "miFuente";
    text-align: center;
    background: linear-gradient(to right, white, black, white); 
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 4em;
}

p{
    font-family: cursive;
    font-size: 20px;
}