.titulo{
    margin-top: 20px;
    background: linear-gradient(70deg, black, white); 
    height: 50px; 
}
.list-group-item{
    text-decoration: none;
    color: black;
}
@font-face{
	font-family: "miFuente2";
	src: url(../../fuentes/Stella\ Demo.ttf);
}
@font-face{
	font-family: "miFuente3";
	src: url(../../fuentes/before\ sunday.ttf);
}
#tituloPrincipal{
	font-family: "miFuente2";
    font-size: 80px;

    height: 80px; 
    margin-top: 50px;
    margin-bottom: 30px;
    color: black;
}
.bienvenido{
    font-size: 80px;
    font-family: "miFuente3";
    color: red;
}
body{
    background: url(../../img/c.jpg);
    background-size: 100% 100%;
}